.about {
  &#page {
    margin: 0 auto;
    width: 90rem;
  }

  h1,
  h2 {
    text-align: center;
  }

  h1 {
    @extend %description-75-m;

    font-family: Inter, sans-serif;
    margin: 0 0 5rem;
  }

  h2 {
    @extend %description-20;

    margin: 0 0 10rem;
    opacity: 0.5;
  }

  &__section {
    margin: 0 0 15rem;

    &__title {
      @extend %description-35-m;

      font-family: Inter, sans-serif;
      margin: 0 0 6rem;
      text-align: center;
    }

    &__people {
      display: flex;
      justify-content: space-between;
      text-align: center;

      // &::after {
      //   content: '';
      //   flex: auto;
      // }

      &__item {
        width: 20%;

        &__avatar {
          margin: 0 0 2.5rem;
          overflow: hidden;

          img {
            border-radius: 50%;
            height: 100%;
            width: 100%;
          }
        }

        &__name,
        &__surname {
          @extend %description-20-m;

          margin: 0 0 0.5rem;
        }

        &__job {
          @extend %description-20;

          margin: 0 0 0.75rem;
        }

        &__linkedin {
          @extend %description-14;
        }
      }
    }
  }
}
