/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-max-compound-selectors */
.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__product {
    display: flex;
    flex-direction: column;
    min-height: $vh-100;
    justify-content: center;

    h1 {
      @extend %title-140-m;

      font-family: $font-inter;
      margin: 0 0 3rem;
      text-align: center;
    }

    h2 {
      @extend %description-25-m;

      margin: 0 0 7rem;
      text-align: center;
    }

    h3 {
      @extend %description-25-m;
    }

    ul {
      margin: 0 auto 7rem;
      width: fit-content;

      li {
        @extend %description-18;

        align-items: center;
        display: flex;
        margin: 0 0 2rem;

        .picto {
          height: auto;
          margin-right: 2rem;
          width: 2rem;
        }
      }
    }

    &__discover {
      cursor: pointer;
      margin: 0 auto;
      width: fit-content;

      &__wrapper {
        display: flex;
      }

      h3 {
        margin: 0 0 2rem;
        text-align: center;
      }

      &__btn {
        display: flex;

        a,
        button {
          align-items: center;
          background: #026fecee;
          border: 0;
          border-radius: 7px;
          color: #fff;
          display: block;
          display: flex;
          font-size: 1rem;
          justify-content: center;
          opacity: 1;
          padding: 1rem 2rem;
          transition: opacity 250ms ease;

          &:hover {
            opacity: 0.8;
          }

          &:first-child {
            margin-right: 30px;
          }
        }
      }
    }

    &__social {
      margin: 30px auto 0;
      width: fit-content;

      button {
        font-size: 1.6rem;

        &:nth-child(2) {
          margin: 0 20px;
        }
      }
    }
  }
}
