/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-max-compound-selectors */
.home {
  align-items: center;
  display: flex;
  justify-content: center;

  &#page {
    height: 100vh;
    padding: 15rem 0 0;
  }

  &__scroll-to-discover {
    @extend %description-16-s;

    bottom: 5rem;
    color: rgb(0 0 0 / 75%);
    cursor: pointer;
    display: flex;
    left: 50%;
    position: absolute;
    transform: translate3d(-50%, 0, 0);

    svg {
      margin-right: 1rem;
      opacity: 0.75;
      transform: rotate(180deg);
      width: 1.75rem;
    }

    strong {
      color: #000;
      font-weight: 600;
      margin-left: 0.5rem;
    }
  }

  &__product {
    opacity: 0;
    pointer-events: none;
    position: absolute;

    &.active {
      opacity: 1;
      pointer-events: all;
    }

    h1 {
      @extend %title-140-m;

      font-family: $font-inter;
      margin: 0 0 3rem;
      text-align: center;
    }

    h2 {
      @extend %description-25-m;

      margin: 0 0 7rem;
      text-align: center;
    }

    ul {
      margin: 0 auto 7rem;
      width: fit-content;

      li {
        @extend %description-18;

        align-items: center;
        display: flex;
        margin: 0 0 2rem;

        .picto {
          height: auto;
          margin-right: 2rem;
          width: 2rem;
        }
      }
    }

    &__discover {
      cursor: pointer;
      margin: 0 auto;
      width: fit-content;

      a,
      button {
        background: #026fecee;
        border: 0;
        border-radius: 7px;
        color: #fff;
        display: inline-block;
        opacity: 1;
        transition: opacity 250ms ease;

        &:hover {

          // background: #fff;
          opacity: 0.8;
        }

        &:first-child {
          margin-right: 30px;
        }
      }
    }

    &__social {
      margin: 30px auto 0;
      width: fit-content;

      button {
        font-size: 1.6rem;

        &:nth-child(2) {
          margin: 0 20px;
        }
      }
    }
  }
}
