%description-14 {
  font-size: 1.4rem;
}

%description-16 {
  font-size: 1.6rem;
}

%description-16-s {
  font-size: 1.6rem;
  font-weight: 100;
}

%description-16-m {
  font-size: 1.6rem;
  font-weight: 600;
}

%description-18-m {
  font-size: 1.8rem;
  font-weight: 600;
}

%description-18-s {
  font-size: 1.8rem;
  font-weight: 100;
}

%description-18 {
  font-size: 1.8rem;
  font-weight: 300;
}

%description-20 {
  font-size: 2rem;
  font-weight: 300;
}

%description-25-s {
  font-size: 2.5rem;
  font-weight: 100;
}

%description-25-m {
  font-size: 2.5rem;
  font-weight: 600;
}

%description-30-s {
  font-size: 3rem;
  font-weight: 100;
}

%description-30-m {
  font-size: 3rem;
  font-weight: 600;
}

%description-35 {
  font-size: 3.5rem;
  font-weight: 300;
}

%description-35-m {
  font-size: 3.5rem;
  font-weight: 600;
}

%description-40-m {
  font-size: 4rem;
  font-weight: 600;
}

%description-45 {
  font-size: 4.5rem;
  font-weight: 300;
}

%description-45-s {
  font-size: 4.5rem;
  font-weight: 100;
}

%description-45-m {
  font-size: 4.5rem;
  font-weight: 600;
}

%description-50-m {
  font-size: 5rem;
  font-weight: 600;
}

%description-65 {
  font-size: 6.5rem;
  font-weight: 300;
}

%description-65-m {
  font-size: 6.5rem;
  font-weight: 600;
}

%description-75 {
  font-size: 7.5rem;
  font-weight: 300;
}

%description-75-m {
  font-size: 7.5rem;
  font-weight: 600;
}

%description-75-s {
  font-size: 7.5rem;
  font-weight: 100;
}

%description-75-xl {
  font-size: 7.5rem;
  font-weight: 900;
}
