%markdown-block {
  font-family: $font-markdown;

  > *:first-child {
    margin-top: 0 !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 24px;
  }

  h1 {
    border-bottom: 1px solid #ccc;
    font-size: 1.5em;
    padding-bottom: 0.3em;
  }

  h3 {
    font-size: 1.25em;
  }

  ul,
  ol {
    margin-bottom: 16px;
    margin-top: 0;
  }

  li::before {
    // TODO do real list item
    content: "⦿ ";
    vertical-align: text-bottom;
  }

  a {
    color: #1d78b5;
  }
}
