#header {
  align-items: center;
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 2rem 10rem;
  width: 100%;
  z-index: 3;

  #logo {
    flex: 1;
  }

  nav {
    @extend %description-18;

    flex: auto;
    min-width: 75.5rem;
    text-align: center;

    a {
      &:not(:last-child) {
        margin-right: 4rem;
      }
    }
  }

  .header__button {
    display: flex;
    flex: 1;

    /* stylelint-disable-next-line no-descending-specificity */
    a {
      margin-left: auto;
    }
  }
}
