$font-inter: 'Inter', arial, sans-serif;
$font-quicksand: 'Quicksand', arial, sans-serif;

$font-markdown: -apple-system,
  blinkmacsystemfont,
  'Segoe UI',
  helvetica,
  arial,
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji';
