%cover {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

%fixed {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

%center {
  align-items: center;
  display: flex;
  justify-content: center;
}

%center-item {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

%content {
  @extend %cover;
}

%page {
  height: 100%;
  overflow: hidden;
  width: 100%;

  @include media('<phone') {
    padding: 2vw;
  }
}

@mixin ratio($height, $width) {
  font-size: 0;
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    display: inline-block;
    padding-top: $width / $height * 100%;
    width: 100%;
  }
}
